body {
	color: white;
	font-family: 'Quicksand';
}

h1 {
	color: #5BD0C8;
}

.background-primary {
	background-color: #373632;
}

.background-secondary {
	background-color: #92a2a4;
}

.navbar-brand, .nav-item {
	color: #5BD0C8;
}

.headshot {
	width: 75%;
    border-radius: 50%;
	
}

.work h3 {
	color: ;
	font-weight: bold;

}

.work img {
	width: 100%;
	height: auto;
}

.btn-linkedin {
	color: #fff;
    background-color: #5BD0C8;
    border-color: #5BD0C8;
}