body {
	color: white;
	font-family: 'Quicksand';
}

img {
	width: 75%;
    border-radius: 50%;
}

.navbar-light {
	background-color: #5BD0C8;
}

.nav-item {
	color: white;
}

.intro {
	background-color: #5BD0C8;
}