.fixed-width {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	color: white;
	font-family: 'Quicksand';
	font-size: 20px;
}

h1 {
	color: #5BD0C8;
	font-size: 60px;

	@media (min-width: 768px) {
		font-size: 80px;
	}
}

a:hover {
	color: #5BD0C8;;
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -62px;
}

.anchor {
	position: relative;
}

.icon {
	height: 25px;
	padding-bottom: 5px;
}

.background-primary {
	background-color: #373632;
}

.background-secondary {
	background-color: #a7b4b5;
}

.navbar-brand, .nav-item {
	color: white;
}

.headshot {
	width: 100%;
    border-radius: 50%;
    padding: 10px;
}

 @media (max-width: 768px) {
	.headshot {
		width: 75%;
	    border-radius: 50%;
	}
}

.work h3 {
	color: ;
	font-weight: bold;
}

.work img {
	width: 100%;
	height: auto;
}

.btn-info {
	color: #fff;
    background-color: #5BD0C8;
    border-color: #5BD0C8;
}