.fixed-width {
	max-width: 1000px;
	margin: 0 auto;
}

body {
	color: #373632;
	font-family: 'Quicksand';
	font-size: 18px;
}

.img {
	width: 100%;
	padding: 10px;
}

h1 {
	color: #5BD0C8;
	font-weight: bold;
}

h2 {
	color: #373632;
	font-weight: bold;
	font-size: 1.5em;
}


a:hover {
	color: #5BD0C8;;
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -62px;
}

.anchor {
	position: relative;
}

.icon {
	height: 25px;
	padding-bottom: 5px;
}

.navbar-brand, .nav-item {
	color: white;
}

.btn-info {
	color: #fff;
    background-color: #5BD0C8;
    border-color: #5BD0C8;
    min-width: 200px;
}

.background-primary {
	background-color: #373632;
}

@media only screen and (min-width: 768px) {

}
